{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
  .body_bg{
    background-image: url('https://img.freepik.com/free-vector/elegant-gradient-violet-wavy-net-background_23-2148402778.jpg?size=626&ext=jpg&ga=GA1.2.103588016.1689540008&semt=ais');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
  }
  .btn:hover{
    background-image:linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  )!important;
  }
  input::placeholder{
    color:grey!important;
  }
</style>
<body class="body_bg">

 <main class="container col-lg-8 p-4 mt-5"style="border-radius: 1rem;background:rgba(10,10,43,.75);
 ">
<h1 class="h2 mt-3 mb-3 fcolor text-center text-white mb-5 text-uppercase"  >{{request.user.c_name.c_full_name}}</h1>
<h3 class="h2 mt-3 mb-3 fcolor text-center text-white mb-3"style="color:#eaaaff!important ;" >Expences New Catagory Entry </h3>
<table class="table table-striped text-center">
  <thead >
    <tr >
      <th scope="col text-center"style="background:#131237;color:grey">SL</th>
      <th scope="col text-center"style="background:#131237;color:grey">Catagory name</th>
      <th scope="col text-center"style="background:#131237;color:grey">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for cec in request.user.c_name.company_expense_catagory_set.all %}
        <tr>
          <td scope="row"style="background:#131237;color:grey">{{forloop.counter}}</td>
          <td style="background:#131237;color:grey">{{cec.exp_name}}</td>
          <td style="background:#131237;color:grey"><button onclick="location.href='{% url 'company_expences_catagory_delete' cec.id %}'" class="btn btn-danger">Delete</button></td>
        </tr>
    {% endfor %}
  </tbody>
</table>


    <form method="POST" >
    {% csrf_token %}
      <h1 class="h2 mt-3 mb-3 fcolor text-white mt-5 text-center" style="color:#eaaaff!important;">Entry Exp Catagory</h1>
      <div class="mb-3 fcolor">
        <label for="exampleInputEmail1" class="form-label text-white fw-bold">Batch</label>
        <input required name="exp_name"style="background:#131237;color:grey" type="text" class="form-control" placeholder="EXP" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <button class="w-100 btn btn-lg text-white" type="submit" style="background-image:linear-gradient(
        92.23deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
      );">Save</button>
    </form>
  </main>

</body>
{% endblock  %}