{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>

{% if successfull %}
  <div class="alert alert-success" role="alert">
    {{successfull}}
  </div>
{% endif %}

 <main class="container col-lg-5 mt-5">
<!--<h1 class="h2 mt-3 mb-3 fcolor" align="center" >{{request.user.c_name.c_full_name}}</h1>-->
<!--<h3 class="h2 mt-3 mb-3 fcolor" align="center" >{{course.course_name}} Batch </h3>-->
<!--<table class="table table-hover">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">SL</th>-->
<!--      <th scope="col">Batch</th>-->
<!--      <th scope="col">Edit</th>-->
<!--      <th scope="col">Delete</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    {% for cb in course.course_batch_set.all %}-->
<!--        <tr>-->
<!--          <td scope="row">{{forloop.counter}}</td>-->
<!--          <td>{{cb.batch}}</td>-->
<!--          <td><button onclick="location.href='{% url 'company_course_exist_batch_edit' cb.id %}'" class="btn btn-danger">Edit</button></td>-->
<!--          <td><button onclick="location.href='{% url 'company_course_exist_batch_delete' cb.id %}'" class="btn btn-danger">Delete</button></td>-->
<!--        </tr>-->
<!--    {% endfor %}-->
<!--  </tbody>-->
<!--</table>-->


    <form method="POST" >
    {% csrf_token %}
      <h1 class="h2 mt-3 mb-3 fcolor" align="center">Payment receive</h1>

      <div class="mb-3 fcolor">
        <label class="form-label">User ID</label>
        <input name="student_id" oninput="finding_user()" id="student_id" type="text" class="form-control" placeholder="ID">
      </div>

      <div class="mb-3 fcolor">
        <label class="form-label">Student Name</label>
        <input name="student_name" id="student_name" type="text" class="form-control" >
      </div>

      <div class="mb-3 fcolor">
        <label class="form-label">Student cell number</label>
        <input name="student_call_number" id="student_call_number" type="text" class="form-control">
      </div>

      <div class="mb-3 fcolor">
        <label class="form-label">Amount</label>
        <input name="amount" type="number" class="form-control">
      </div>



      <button class="w-100 btn btn-lg btn-info" type="submit" style="background:#066706; color:#fff;">Save</button>
    </form>
  </main>

</body>

<script>
  function finding_user() {
    $.ajax({
        type:'POST',
        url:"{% url 'company_student_search_with_ajax' %}",
        data:{
            s_or_u_id:$('#student_id').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function(response){
            $(student_name).val(response.obj_student[0].name_english);
            $(student_call_number).val(response.obj_student[0].cell_number_student);
            //console.log(response);
        },
        error:function(response){
            console.log('i am not working')
        }
    })
};
</script>


{% endblock  %}