{% extends 'base.html' %}
{% load static %}



{% block body %}
<style>
  .body_bg{
    background-image: url('https://img.freepik.com/free-vector/elegant-gradient-violet-wavy-net-background_23-2148402778.jpg?size=626&ext=jpg&ga=GA1.2.103588016.1689540008&semt=ais');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
  }
  .btn:hover{
    background-image:linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  )!important;
  }
  input::placeholder{
    color:grey!important;
  }
</style>
<body class="body_bg">
<main class="container col-lg-6 p-4 mt-5 text-white "style="border-radius: 1rem;background:rgba(10,10,43,.75);" >
  {% if success %}
    <div class="alert alert-success" role="alert">
      Successfully New cours entry
    </div>
  {% endif %}

<h2 class="text-center mb-3 pb-3"style="color:#eaaaff ;">Add new courses</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
  <form method="POST">
    {% csrf_token %}
  <div class="form-row">
    <div class="col-md-12 mb-4">
      <label for="validationDefault01"class="mb-3">Course Full Name</label>
      <input type="text" name="course_full_name" class="form-control"  style="background:#131237;color:grey"id="validationDefault01" placeholder="Full name of course"  required>
    </div>
    <div class="col-md-12 mb-4">
      <label for="validationDefault02"class="mb-3">Course Short Name</label>
      <input type="text" name="course_short_name" class="form-control" style="background:#131237;color:grey" id="validationDefault02" placeholder="Short name of course"  required>
    </div>

    <div class="col-md-12 mb-4">
      <label for="validationDefault02"class="mb-3">Course Code</label>
      <input type="text" name="course_code" class="form-control"  style="background:#131237;color:grey"id="validationDefault02" placeholder="Short name of course"  required>
    </div>

    <div class="col-md-12 mb-4">
      <label for="validationDefault02"class="mb-3">Number of Classes</label>
      <input type="number" name="number_of_classes" class="form-control"  style="background:#131237;color:grey"id="validationDefault02" placeholder="Short name of course"  required>
    </div>

    <div class="col-md-12 mb-4">
      <label for="validationDefault02">Payment System</label>
      <input type="checkbox" name="payment_system"  style="background:#131237;color:grey"id="validationDefault02"  required>
    </div>
  </div>

  <button class="btn text-white" type="submit"style="background-image:linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );">Save</button>
</form>
    </div>

  </div>
</div>
</main>

</body>
{% endblock  %}